body, html {
    height: 100%;
    margin: 0;
}

.backgr {
    background-image: url("../pictures/backgroundPexeso.png");
    background-repeat: no-repeat;
    width: 1920px;
    height: 1000px;
    background-size: cover;
    position: absolute;
    top: -40px;
}

.startGame {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 400px);    
    height: 100%;
}

.buttonStart {
    width: 800px;
    height: 100px;
    background-color:#D3D3D3;
    border-radius: 15px; 
}

.buttonStartText {
    font-size: 36px;
    font-family: "Verdana";
    text-align: center;
    color: rgb(54, 17, 87);
    font-weight: bold;
    line-height: 0;
    cursor: pointer;
    
}

.PexesoCards {
    position: absolute;
    top: 246px;
    left: 393px;
    display: block;
    
    border: 1px solid red;
}

.cardsPositions {
    border: 1px solid red;
    width: 1135px;
    height: 610px;
    position: absolute;
    top: 2246px;
    left: 393px;
} 

.cardsFirst img {
    margin-bottom: 65px;
    padding-right: 65px;
    float: left;
}
.cardsFirst :nth-child(7) {
    clear: left;
}

  

